.bib-finder .tag {
  margin-right: 5px;
  border: solid 1px;
  padding: 0.2em 0.4em;
  border-radius: 6px;
  vertical-align: baseline;
  color: var(--syntax-color-constant);
}

.bib-finder .secondary-line {
  white-space: pre-wrap !important;
}
